table{
    font-size: 1.3rem;
}
  
th{
    padding: 10px;
    text-align: right;
}

td {
    padding: 10px;
    text-align: left;
}

.table-container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Zwei Spalten, gleiche Breite */
    gap: 10%; /* Abstand zwischen den Spalten */
  }
  
.main-table, .extra-table {
    width: 100%; /* Tabellen nehmen die volle Breite der Spalten ein */
    border-collapse: collapse;
}

.main{
    align-items: center;
    padding: 0 10vw;
}

.accordion {
    user-select: text;
    background-color: #3E3E3E;
    color: #FAFAFA;
    padding: 15px;
    font-size: 1.2rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-bottom: 2px solid #979797 ;
    outline: none;
    border-radius: 10px 10px 0 0;
}

.accordion-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.accordion-content span {
    flex: 1;
    text-align: center;
}

.name {
    text-align: left;
}

.birth-date {
    text-align: center;
}

.customer-id {
    text-align: right;
    cursor: text;
}

.accordion:after {
    content: '\25BC';
    font-size: 1.2rem;
    transition: transform 0.3s ease;
}

.accordion.active:after {
    transform: rotate(-180deg);
}

.panel {
    border-radius:  0 0;
    padding: 0 15px;
    background-color: #2F2F2F;
    color: #FFFFFF;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease, padding 0.3s ease;
    margin-bottom: 15px;
}

.panel p {
    margin: 15px 0;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
}

.accordion.active + .panel {
    max-height: 500px;
    padding: 15px;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.accordion::-webkit-scrollbar {
    display: none;
}

.search-container {
    position: relative;
    width: 10vw;
    margin-bottom: 10px;
}

.panel .buttons {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.panel button {
    margin-left: 10px;
    padding: 1rem 2rem;
    font-size: 1rem;
    border-radius: 5px;
}

.panel .button-delete{
    background-color: #DB3A34;
}

.popup {
    display: none;
    position: fixed;
    padding: 0;
    width: 40vw;
    left: 40vw;
    margin-left: -150px;
    height: 30vh;
    top: 30vh;
    margin-top: -100px;
    background: #FFF;
    text-align: center;
    border-radius: 10px;
  }

  .popup h2{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3E3E3E;
    border-bottom: 3px solid #979797;
    margin: 0;
    height: 20%;
    border-radius: 10px;
  }

  .custom-select {
    min-width: 350px;
  }
  
  .custom-select select {
    appearance: none;
    width: 50%;
    font-size: 1.15rem;
    padding: 0.675em 6em 0.675em 1em;
    background-color: #1C1C1C;
    border: none;
    border-radius: 0.25rem;
    color: #FFFFFF;
    cursor: pointer;
    margin-bottom: 2%;
  }

  .custom-select select:focus{
    border: none;
    outline: none;
  }

  .button-negative{
    background-color: #DB3A34;
  }

  .button-neutral{
    background-color: #999999;
  }

  .button-safe{
    background-color: #20BF55;
  }

  .align-container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
  }

/*Popup Tarif*/
  
  #popup_tariff:after {
    position: fixed;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,0.5);
    z-index: -2;
  }
  
  #popup_tariff:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #2F2F2F;
    z-index: -1;
    border-radius: 10px;
  }

  /*Popup Löschen*/
  
  #popup_delete:after {
    position: fixed;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,0.5);
    z-index: -2;
  }
  
  #popup_delete:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #2F2F2F;
    z-index: -1;
    border-radius: 10px;
  }

  #popup_delete .buttons{
    margin: 10% 5% 0 5%;
  }

  /*searchbar*/
#searchInput {
    width: 100%;
    padding: 10px 10px 10px 35px;
    font-size: 0.8rem;
    border-radius: 10px;
    background-color: #999999;
    border: none;
    outline: none;
}

#searchInput::placeholder{
    color: #1C1B1F;
    opacity: 1;
}

#lense {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
}

#create-button{
    min-width: 15%;
    font-size: 1rem;
  }