body {
    font-family: Arial, sans-serif;
    background-color: #272727;
    margin: 0;
    padding: 0;
}

button {
    border: none;
    background-color: #999999;
    color: #070707;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.container {  
    display: grid;
    grid-template-columns: 0.2fr 1fr 0.3fr;
    grid-template-rows: auto 1fr;
    gap: 0px;
    grid-template-areas:
      "logo header user"
      "main main main";
    height: 100vh;
    width: 100%;
}
  
.main { 
    grid-area: main;
}

.logo {
    grid-area: logo;
    justify-self: start;
    height: 5vh;
}

.logo img{
    width: 50px;
    height: auto;
    padding: 5px 0 0 10px;
}

.user{
    grid-area: user;
    height: 5vh;
    display: flex;
    align-items: center; /* Vertikal ausrichten */
    gap: 2rem;
    padding-right: 20px;
    color: #FFFFFF;
}

.user p{
    font-size: 0.8rem;
}

.header { 
    grid-area: header; 
    background-color: #272727;
    padding: 10px 0;
    justify-self: center;
    height: 5vh;
    align-content: center;
}

.header ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.header ul li {
    margin: 0 15px;
}

.nav-link {
    color: #999999;
    text-decoration: none;
    font-size: 1.3rem;
    padding: 8px 16px;
    border-radius: 4px;
}

.nav-link:hover {
    color: #623CEA;
}

.nav-link.active {
    color: #623CEA;
    text-decoration: underline;
    text-decoration-color: #623CEA;
}

.user{
    grid-area: user;
    justify-self: end;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 0,
        'GRAD' 0,
        'opsz'48
}

#user{
    cursor: pointer;
    user-select: none;
    font-size: 2.5rem!important;
}