h2{
  color: #FAFAFA;
  text-align: center;
}

button {
  margin-left: 10px;
  padding: 1rem 2rem;
  font-size: 1rem;
  width: 20%;
}

button[type="submit"]{
  background-color: #20BF55;
}

.input-container {
  position: relative;
  margin-bottom: 20px;
  width: 80vw;
}
  
.input-container input {
  background-color: #3E3E3E;
  color: #FAFAFA;
  width: 100%;
  padding: 25px 10px 10px 10px;
  font-size: 1.2rem;
  border: none;
  border-bottom: 2px solid #979797 ;
  outline: none;
  border-radius: 10px;
}

.input-container label {
  position: absolute;
  top: 10px;
  left: 5px;
  font-size: 0.7rem;
  color: #aaa;
  transition: 0.2s ease all;
  pointer-events: none;
}

.input-container input:focus ~ label,
.input-container input:not(:placeholder-shown) ~ label {
  top: -15px;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.main{
    align-items: center;
    padding: 0 10vw;
}

#back-button{
  background-color: #DB3A34;
}

#customerForm{
  margin-top: 10%;
}